* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
.about {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
  }

  
.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  
.heading h3 {
    font-weight: normal;
  }
  
  .heading h4 {
    font-weight: normal;
    line-height: 2;
  }


  /* Untuk Tablet */
@media all and (max-width: 1000px) {
    .top-wrapper h1 {
      font-size: 32px;
    }
  
    .heading h2 {
      font-size: 20px;
    }
    
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .header-right {
      display: none;
    }
    
    .menu-icon {
      display: block;
    }
    
    .btn {
      width: 100%;
    }
  
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
    
    .lesson {
      width: 100%;
    }
    
  }